# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debugging
logs/
*.log

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables and secrets
.env
*.env
